.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  &__cta {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    > a:first-of-type {
      display: none;
    }
  }
  .form__search {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}

.form__search {
  input {
    display: none;
  }
  .btn--submit {
    border: none;
    background: none;
  }
}

.hero {
  &__img {
    border-radius: var(--radius-xl);
  }
  padding-bottom: var(--space-lg);
}

.nav {
  padding-right: 0;
  overflow-x: auto;
  //to hide scroll bars on firefox
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;


  &::-webkit-scrollbar {display: none; }
  a {color: inherit;}
  &__list {
    padding-right: var(--space-md);
    white-space: nowrap;
    display: flex;
    &:after {
      content: " ";
      display: block;
      border-top: 2px solid var(--color-white-dark);
      border-bottom: 2px solid var(--color-white-dark);
      border-radius: 2px;
      margin-top: var(--space-sm);
    }
    li {
      display: inline-block;
      position: relative;
    }
    li.current:after {
      content: "";
      position: absolute;
      width: 100%;
      display: block;
      border-top: 2px solid var(--color-black);
      border-bottom: 2px solid var(--color-black);
     border-radius: 2px;
     margin-top: var(--space-sm);
    }
    > li:not(:first-of-type) {
      margin-left: var(--space-sm);
    }
    > li:nth-of-type(5) {
      margin-right: var(--space-sm);
    }
    > li:last-of-type {
      margin-left: auto;
    }



  }


}