.header {
  position: sticky;
  top: 0;
  z-index: var(--zindex-fixed-element);

  .container {
    box-shadow: 0px 20px 16px -10px rgba(0,0,0,0.05);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--space-sm);
    align-items: center;
  }

  form {
    justify-self: end;
    font-family: var(--font-primary);
    @include breakpoint(md) {
      background-color: var(--color-white-dark);
      min-width: 30rem;
    }
    @include breakpoint(lg) { justify-self: center; }
  }
}

.hero {
  z-index: 100;
  position: relative;
  .aspect-ratio {
    --aspect-ratio: 1;
    @include breakpoint(md) {--aspect-ratio: 5/4;}
    @include breakpoint(lg) {--aspect-ratio: 2.33;}
  }
  &__img {object-position: right center;}
}


.nav {
  .container {
   display: grid;
    grid-auto-flow: column;
    scrollbar-width: none;
   overflow-x: auto;
  }
  &::-webkit-scrollbar {display: none; } //to hide scroll bars

  &__list {
    position: relative;
    --border: 2px;
    li {
      display: inline-block;
      position: relative;
      padding-bottom: var(--space-md);
      color: var(--color-black-light);
      &.current {
        color: inherit;
        font-weight: 500;
      }
    }
    li.current.grayline-bottom::after {
    --line-color: var(--color-black);
      z-index:  var(--zindex-header);
    }
  }
}

.courses {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: var(--space-xl);
  }
  .card {
    background: var(--color-white-dark);
    border-radius: var(--radius-xxxl);
    padding: var(--space-md);
    display: grid;
    grid-template-rows: 1fr minmax(17rem, 3fr) 1fr;
    font-family: var(--font-primary);
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }

    .card__tag {
      background: var(--card-bg, var(--color-accent));
      padding: var(--space-xxs) var(--space-md);
      border-radius: var(--radius-xxl);
      color: var(--color-white);
      &--secondary {--card-bg: var(--color-accent-dark);}
    }
    .card__rating {
      display: flex;
      gap: 0.5em;
      align-items: baseline;
    }

    .card__body {
      align-self: end;
      > * + *  { margin-top: var(--space-md);}
    }

    .card__footer {
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
  }
}

.community {
  .container {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: minmax(17rem, 20rem);
    justify-content: center;
    place-items: center;
    .aspect-ratio {
      --aspect-ratio: 1;
    }
    @include breakpoint(md) {
     grid-template-columns: 28rem 20rem;
      justify-content: space-between;
      > :last-child {
        grid-column: 1;
        grid-row: 1;
      }
    }
   }


  &__links {
    display: grid;
    justify-items: start;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    > a {
      font-size: var(--text-md);
    }
    @include breakpoint(md) {
      grid-auto-flow: column;
    }
  }
}

//wrapper will be converted to container
.instructor {
  &__wrapper {
    border-bottom: 4px solid var(--color-white-dark);
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    display: grid;
    gap: 1rem;
    align-items: center;
    .aspect-ratio {
      --aspect-ratio: 1;
    }
    @include breakpoint(md) {
      grid-template-columns: .75fr 1fr;
      column-gap: 120px;
      .aspect-ratio {
        --aspect-ratio: 0.8525;
      }
      .instructor__content {
        max-width: 340px;
      }
    }
  }
}

.footer  {
  display: grid;
  row-gap: var(--space-xl);
  column-gap: var(--space-lg);
  align-items: center;
  @include breakpoint(md) {
    grid-template-columns: 0.25fr 1fr auto;
  }

  &__list {
    justify-self: start;
    display: grid;
    row-gap: var(--space-sm);
    @include breakpoint(md) {
      grid-auto-flow: column;
      column-gap: var(--space-lg);
    }
  }

  &__social {
    display: grid;
    grid-auto-flow: column;
    gap: var(--space-sm);
    justify-content: start;
  }

  .social__img {
    width: 44px;
    @include breakpoint(md) {
      width: 24px;
    }
  }

}