.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  &__cta {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    > a:first-of-type {
      display: none;
    }
  }
  .form__search {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    input {
      display: none;
    }
    .btn--submit {
      border: none;
      background: none;
    }
  }
}




.hero {
  .aspect-ratio {
    --aspect-ratio: 1;
    @include breakpoint(md) {
      --aspect-ratio: 5/4;
    }
    @include breakpoint(lg) {
      --aspect-ratio: 2.33;
    }
  }
  &__img {
    border-radius: var(--radius-xxxl);
     object-position: right center;
  }
}


.nav {
  overflow-x: auto;
  display: grid;
  grid-auto-flow: column;
  scrollbar-width: none;

   //to hide scroll bars
  &::-webkit-scrollbar {display: none; }
  a {color: inherit;}

  &__list {
    white-space: nowrap;
    display: flex; //enables the use of margin-left: auto on flex items
    position: relative;
    gap: var(--space-md);

    &:after {
      content: "";
      position: absolute;
      display: block;
      border-top: 2px solid var(--color-white-dark);
      border-bottom: 2px solid var(--color-white-dark);
      border-radius: 2px;
      width: 100%;
      bottom: 0;
    }
    li {
      display: inline-block;
      position: relative;
      padding-bottom: var(--space-md);
      color: var(--color-black-light);
      &.current {color: var(--color-black);}
    }
    li.current:after {
      content: "";
      position: absolute;
      width: 100%;
      display: block;
      border-top: 2px solid var(--color-black);
      border-bottom: 2px solid var(--color-black);
     border-radius: 2px;
      bottom: 0;
      z-index: 100;
    }
    li:last-of-type {
      margin-left: auto;
    }
  }
}

.courses {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--space-lg);
  }
  .card {
    background: var(--color-white-dark);
    border-radius: var(--radius-xxxl);
    padding: var(--space-md);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    font-family: var(--font-primary);
    min-height: 27.5rem;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }

    .card__tag {
      background: var(--card-bg, var(--color-accent));
      padding: var(--space-xxs) var(--space-md);
      border-radius: var(--radius-xxl);
      color: var(--color-white);
      &--secondary {--card-bg: var(--color-accent-dark);}
    }
    .card__rating {
      display: flex;
      gap: 0.5em;
      align-items: baseline;
    }

    .card__body {
      align-self: end;
      > * + *  {
        margin-top: var(--space-md);
      }
    }

    .card__footer {
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
  }
}

.community {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  &__wrapper {
    margin: 0 auto;
    max-width: calc(1024px - (2 * var(--space-xl)) );
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(auto, 24rem);
    justify-content: center;
    justify-items: center;
    align-items: center;
    @include breakpoint(md) {
      grid-auto-flow: column;
      justify-content: space-between;
      > :last-child {
        grid-column: 1;
        grid-row: 1;
      }
    }
   }
  &__img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }

  &__links {
    display: grid;
    justify-items: start;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    > a {
      font-size: var(--text-md);
    }
    @include breakpoint(md) {
      grid-auto-flow: column;
    }
  }
}

.instructor {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  display: grid;
  align-items: center;
  .aspect-ratio {
    --aspect-ratio: 1;
  }
  @include breakpoint(md) {
    grid-template-columns: .75fr 1fr;
    column-gap: 120px;
    .aspect-ratio {
      --aspect-ratio: 0.8525;
        // min-width: 341px;
    }
    &__content {
      max-width: 340px;
    }
  }
}